h1, {
	letter-spacing: 5px;
	padding-top: 50px;
  }
.add_item {
	padding: 16px 24px;
}
hr {
	width: 80%;
}
@media screen and (max-width: 991px) {
	.but {
		padding: 10px;
	}
	.feature {
		height: 50%;
	}
	.feature__crem {
		height: 30%;
	}
	.feature__crem-big {
		height: 40%;
	}
	.visible {
		display: none;
	}
}
@media screen and (max-width: 500px) {

	.feature {
		height: 30%;
	}
	.feature__crem {
		height: 13%;
	}
	.feature__crem-big {
		height: 20%;
	}
	.price {
		font-size: 18px;
	}
	.add_item {
		padding: 2px;
	}
	hr {
		display: none;
	}
	.title-text {
		font-size: 16px;
	}
	
}

/* footer
========================================*/


footer {
	background: #A4A4A4;
}

.footer__item {
	width: 100%;
	padding: 15px 0;
	text-align: center;
	margin: 0 auto
}

.footer__icon {
	padding: 0 20px;
}

.footer__text {
	text-align: center;
	color: #000;
	font-weight: 700;
	margin: 0 auto
}
.footer__item a {
	opacity: .5;
}
.footer__item a:hover {
	opacity: 1;
}